/* Text Alignment in HTML */
#c-align {
    text-align: center;
}

/* Alignment of choropleth map */
#choropleth_map {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* Alignment of bar chart */
#bar_chart {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* Alignment of lollipop chart */
#lollipop_chart {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* Alignment of bubble chart */
#bubble_chart {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* Section divider */
#divider {
    margin: auto;
    background-color: lavender;
    padding: 30px;
}